@model IEnumerable<ERP_API_Service.Objects.Menu>

@{
    ViewData["Title"] = "MenuList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Меню</h2>
<p>
    <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("MenuCreate")'">Добавить</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">№ п/п</th>
            <th scope="col">Наименование</th>
            <th scope="col">Действие</th>
            <th scope="col">Описание</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Npp)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Action)</td>
            <td>@Html.DisplayFor(modelItem => item.Descr)</td>
            <td><button type="button" class="btn btn-light" style="font-size:15px" onclick="location.href='@Url.Action("MenuEdit", new { id = item.Id })'">Изменить</button></td>
            <td><button type="button" class="btn btn-light" style="font-size:15px" onclick="location.href='@Url.Action("MenuDelete", new { id = item.Id })'">Удалить</button></td>
        </tr>
        }
    </tbody>
</table>
