@model ERP_API_Service.Objects.Menu

@{
    ViewData["Title"] = "MenuDelete";
    ViewBag.Title = "MenuDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Удаление</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Удалить меню @Html.DisplayFor(model => model.Name)?</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Удалить" class="btn btn-danger" style="font-size:20px" />
              <button type="button" class="btn btn-light" style="font-size:20px" onclick="location.href='@Url.Action("MenuList")'">Отмена</button>
            </div>
        </div>
        <br />
    </div>
}
