@model ERP_API_Service.Objects.Role

@{
    ViewData["Title"] = "RoleEdit";
    ViewBag.Title = "RoleEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Редактирование</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Роль @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="row" style="font-size:20px">
        @Html.Label("Наименование", "Наименование", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="font-size:20px">
         @Html.Label("Описание", "Описание", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descr, "", new { @class = "text-danger" })
        </div>
    </div>

</div>


    <header class="row" align="left">
        <h4 class="col-lg-12">Меню для роли</h4>
    </header>

    <div class="row">
        <table class="table col-lg-12">
            <thead>
                <tr>
                    <th scope="col">Название меню</th>
                    <th scope="col">Действие</th>
                    <th scope="col">Описание</th>
                    <th scope="col"></th>
                    <th scope="col"><a type="button" class="btn btn-light" href="@Url.Action("RoleMenuCreate", Model)">Добавить</a></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var rm in Model.RoleMenus)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => rm.Menu.Name)</td>
                    <td>@Html.DisplayFor(modelItem => rm.Menu.Action)</td>
                    <td>@Html.DisplayFor(modelItem => rm.Menu.Descr)</td>
                    <td scope="col"></td>
                    @*<td><a type="button" class="btn btn-light" style="font-size:15px" href="@Url.Action("RoleMenuEdit", new { id = rm.Id })">Изменить</a></td>*@
                    <td><a type="button" class="btn btn-light" style="font-size:15px" href="@Url.Action("RoleMenuDelete", new { id = rm.Id })">Удалить</a></td>
                </tr>
                }
            </tbody>
        </table>

    </div>

    <br /><br /><br />
    <div class="row">
        <input type="submit" value="Сохранить" class="btn btn-light col-md-2" style="font-size:20px" />
        <div class="col-sm-1"></div>
        <a type="button" class="btn btn-light col-md-2" style="font-size:20px" href="@Url.Action("RoleList")">Отмена</a>
    </div>
    <br />
}
