@model ERP_API_Service.WebObjects.ListBoxViewModel

@{
    ViewData["Title"] = "RoleMenuCreate";
    ViewBag.Title = "RoleMenuCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление новой записи</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Новое меню для роли @Html.DisplayFor(model => model.RoleMenu.Role.Name)</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RoleMenu.Id)
    @Html.HiddenFor(model => model.RoleMenu.Role.Id)


    <div class="form-group" style="font-size:20px">
        @Html.Label("Меню", "Меню", htmlAttributes: new { @class = "control-label col-md-2" })
        @if (Model.SelectLists != null && Model.SelectLists.Count != 0)
            {
                <div class="col-md-10">  
                    @Html.DropDownListFor(x => x.SelectListItemsIds, Model.SelectLists, new {  @class = "form-control", multiple = "multiple"})
            @*@Html.DropDownListFor(model => model.SelectListItemsIds, Model.SelectLists as List<SelectListItem>, "None selected ", new { @id = "DDLServiceCate", @class = "form-control", @multiple = "multiple" })  *@
            @*@Html.DropDownListFor(model => model.Menu.Id, new SelectList(ViewBag.menus, "Value", "Text"), "- Меню -", new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.RoleMenu.Menu.Id, "", new { @class = "text-danger" })
                </div>
            }
            else
            {
                <div class="col-md-10">  
                     @Html.Label("Меню", "Отсутствут пункты меню для выбора, так как уже всё привязано к роли!", htmlAttributes: new { @class = "control-label" })
                </div>
            }
            
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-light" style="font-size:20px" />
            <a type="button" class="btn btn-light" style="font-size:20px" href="@Url.Action("RoleEdit", new { id = Model.RoleMenu.Role.Id })">Отмена</a>
        </div>
    </div>
    <br />
</div>
}
