@functions {
public string Selected(string PageTitle)
{
    if ((string)ViewData["Title"] == PageTitle)
        return "nav-link active";
    else
        return "nav-link";
}
public string IsMenu(string PageTitle)
{
    if ((string)ViewData["Title"] == "Menu")
        return "content col-lg-9 noWhites";
    else
        return "content col-lg-9";
}
}

<html>
<head>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/style.css?v=0.1" />
    <link rel="stylesheet" href="~/Content/wallpaper.css" />

    <link rel="stylesheet" href="~/Content/jquery.datetimepicker.min.css" />
    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/jquery.datetimepicker.full.min.js"></script>

    <script src="~/Content/Scripts/JavaScript.js"></script>


</head>

                <body>
                    <div style="max-width:1640px; margin: 0 auto;" class="row">
                        <nav class="nav flex-column nav nav-pills col-lg-3">
                            <a class="nav-link disabled" aria-current="page" href="#">АДМИНИСТРАТОР 3.0</a>
                            <a class="@Selected("UserList")" href="/api/admin/users/userList">Пользователи</a>
                            <a class="@Selected("ImeiList")" href="/api/admin/imeis/imeiList">IMEI</a>
                            <a class="@Selected("RoleList")" href="/api/admin/roles/roleList">Роли</a>
                            <a class="@Selected("MenuList")" href="/api/admin/menus/menuList">Меню</a>
                            <a class="@Selected("Events")" href="/api/admin/eventList">События</a>
                            <a class="@Selected("config")" href="/api/admin/Setting/config">Настройки</a>
                            <a class="nav-link disabled" href="#">Меню ролей</a>
                            <a class="nav-link disabled" href="#">IMEI пользователей</a>
                            <a class="nav-link disabled" href="#">Роли пользователей</a>
                            <a class="nav-link" href="/api/admin/logout_exit">Выход</a>
                        </nav>
                        <div class="@IsMenu((string)ViewData["Title"])">
                            @RenderBody()
                        </div>
                    </div>
                    @*<div class='light x1' style="text-shadow: -35px -150px 15px #f5f5f5; font-size: 150px; color: #fbfbfb00;">К</div>
                        <div class='light x2' style="text-shadow: -35px -150px 15px #f5f5f5; font-size: 150px; color: #fbfbfb00;">Т</div>
                        <div class='light x3' style="text-shadow: -50px -150px 15px #f5f5f5; font-size: 150px; color: #fbfbfb00;">А</div>
                        <div class='light x4' style="text-shadow: -30px -150px 15px #f5f5f5; font-size: 150px; color: #fbfbfb00;">Л</div>
                        <div class='light x5' style="text-shadow: -25px -150px 15px #f5f5f5; font-size: 150px; color: #fbfbfb00;">А</div>
                        <div class='light x6' style="text-shadow: -15px -150px 15px #f5f5f5; font-size: 150px; color: #fbfbfb00;">Г</div>
                        <div class='light x7' style="text-shadow: -10px -10px 5px #f5f5f5;   font-size: 30px;  color: #fbfbfb00;">И</div>
                        <div class='light x8' style="text-shadow: -25px -150px 15px #f5f5f5; font-size: 100px; color: #fbfbfb00;">К</div>
                        <div class='light x9' style="text-shadow: -45px -150px 15px #f5f5f5; font-size: 150px; color: #fbfbfb00;">А</div>*@

    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>



    </body>

</html>