@model IEnumerable<ERP_API_Service.Objects.UserRole>

@{
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Роли пользователей</h2>
<p>
    <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("UserRoleCreate")'">Добавить</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Логин</th>
            <th scope="col">Роль</th>
            <th scope="col">Дата выдачи</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.User.Login)</td>
            <td>@Html.DisplayFor(modelItem => item.Role.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.GiveDate)</td>
            <td><button type="button" class="btn btn-light" style="font-size:15px" onclick="location.href='@Url.Action("UserRoleEdit", new { id = item.Id })'">Изменить</button></td>
            <td><button type="button" class="btn btn-light" style="font-size:15px" onclick="location.href='@Url.Action("UserRoleDelete", new { id = item.Id })'">Удалить</button></td>
        </tr>
        }
    </tbody>
</table>

