@inherits AddUserModel

<div>
    <EditForm class="was-validated" Model="@UserData" OnValidSubmit="AddUser">
        <DataAnnotationsValidator/>
        <div class="modal-body">
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-user wd-40px"></span>
                <InputText type="text" class="form-control is-invalid" placeholder="Логин..."
                           @oninput="@((e)=> UserData.Login = e.Value.ToString())"
                           @bind-Value="UserData.Login" required/>
            </div>
            <div class="input-group mb-2">
                <ValidationMessage For="() => UserData.Login"/>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-lock wd-40px"></span>
                <InputText type="password" pattern=".{8,}" class="form-control is-invalid" placeholder="Пароль..."
                           @bind-Value="UserData.Password"
                           @oninput="@((e)=> UserData.Password = e.Value.ToString())" required/>
            </div>
            <div class="input-group mb-2">
                <ValidationMessage For="() => UserData.Password"/>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-lock wd-40px"></span>
                <InputText type="password" pattern=".{8,}" class="form-control is-invalid" placeholder="Повторите пароль..."
                           @oninput="@((e)=> UserData.ConfirmPassword = e.Value.ToString())"
                           @bind-Value="UserData.ConfirmPassword" required/>
            </div>
            <div class="input-group mb-2">
                <ValidationMessage For="() => UserData.ConfirmPassword"/>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-id-card-o wd-40px"></span>
                <InputSelect class="form-control" @bind-Value="RoleId">
                    @foreach (var role in RoleUsers)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </InputSelect>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-file-text wd-40px"></span>
                <InputText type="text" class="form-control is-invalid"
                           placeholder="Описание..."
                           @bind-Value="UserData.Description"/>
            </div>
            <div class="form-check text-center mb-2">
                <input class="form-check-input float-none" type="checkbox" @bind="UserData.IsActive"/>
                <label class="form-check-label">Предоставить доступ к ТСД</label>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-primary" disabled="@UserData.IsDisabledButton">
                <span class="fa fa-plus"></span> Добавить пользователя
            </button>
        </div>
    </EditForm>
</div>