@page "/events"
@inherits EventsModel
@layout BodyLayout

<AuthorizeView Context="State">
    <Authorized>
        <div class="container-fluid">
            <div class="col-lg-12 ">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                   <div class="form-horizontal">
                                        <div class="text-center">
                                            <h1 class="h5 text-black-50 mb-4 text-center">Интервал событий</h1>
                                            <hr />
                                        </div>
                                        <EditForm class="was-validated" Model="@EventViewModel" OnValidSubmit="@SearchEvents">
                                            <div class="row">
                                                <div class="col col-lg-6 mb-3" style="font-size:20px">
                                                    <label class="control-label col-md-2">C</label>
                                                    <div class="col-md-3">
                                                        <InputDate class="form-control" @bind-Value="@EventViewModel.StartDateTime" autocomplete="off" required/>
                                                        <ValidationMessage class="text-danger" For="@(() => EventViewModel.StartDateTime)"/>
                                                    </div>
                                                </div>
                                                <div class="col col-lg-6 mb-3" style="font-size:20px">
                                                    <label class="control-label col-md-2">По</label>
                                                    <div class="col-md-3">
                                                        <InputDate class="form-control" @bind-Value="@EventViewModel.EndDateTime" autocomplete="off" required/>
                                                        <ValidationMessage class="text-danger" For="@(() => EventViewModel.EndDateTime)"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                <span class="fa fa-sign-in"></span> Получить события
                                            </button>
                                        </EditForm>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if(Events == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <Table Items="@Events" Context="eventValue">
                        <TableHeader>
                            <th scope="col" class="text-center sort-th" @onclick="@(() => SortTable("DateTime"))">
                                Время
                                <span class="fa @(SetSortIcon("DateTime"))"></span>
                            </th>
                            <th scope="col" class="text-center sort-th" @onclick="@(() => SortTable("Type"))">
                                Тип события
                                <span class="fa @(SetSortIcon("Type"))"></span>
                            </th>
                            <th scope="col" class="text-center sort-th">
                                Просмотр
                            </th>
                        </TableHeader>
                        <RowTemplate>
                            <td>@eventValue.DateTime</td>
                            <td>@eventValue.Type</td>
                            <td scope="row">
                               <button type="submit" class="btn btn-primary" title="Просмотр">
                                    <span class="fa fa-glass"></span>
                               </button>
                            </td>
                        </RowTemplate>
                    </Table>
                }
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>
