@page "/users"
@inherits UsersModel
@layout BodyLayout

<AuthorizeView>
    <Authorized>
        <div class="container-fluid">
            <div class="mb-2 d-grid gap-2" style="z-index:10; bottom:0">
                <button class="btn btn-primary btn-user" @onclick="@AddUser">
                        <span class="fa fa-plus"></span> Добавить нового пользователя
                    </button>
                </div>

                @if(Users == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <Table Items="@Users" Context="user">
                        <TableHeader>
                            <th scope="col" class="text-center sort-th" @onclick="@(() => SortTable("Login"))">
                                Логин
                                <span class="fa @(SetSortIcon("Login"))"></span>
                            </th>
                            <th scope="col" class="text-center sort-th">
                                Описание
                            </th>
                            <th scope="col" class="text-center sort-th">
                                Активный
                            </th>
                            <th scope="col" class="text-center sort-th" @onclick="@(() => SortTable("RoleUserId"))">
                                Роль
                                <span class="fa @(SetSortIcon("RoleUserId"))"></span>
                            </th>
                            <th scope="col" class="text-center sort-th">
                                Операции
                            </th>
                        </TableHeader>
                        <RowTemplate>
                            <td>@user.Login</td>
                            <td>@user.Description</td>
                            <td scope="row">
                                <div class="form-check">
                                    <input class="form-check-input float-none" type="checkbox" checked="@user.IsActive" disabled/>
                                </div>
                            </td>
                            <td >@user.RoleUser.Name</td>
                            <td scope="row">
                               <button type="submit" class="btn btn-primary" @onclick="() => EditUser(user)" title="Редактирование">
                                    <span class="fa fa-edit"></span>
                               </button>
                            <button type="submit" class="btn btn-primary" @onclick="() => BindingDevice(user)" title="Привязка устройства">
                                <span class="fa fa-mobile"></span>
                            </button>
                               <button type="submit" class="btn btn-red" @onclick="() => RemoveUser(user)" title="Удаление">
                                    <span class="fa fa-remove"></span>
                               </button>
                            
                            </td>
                        </RowTemplate>
                    </Table>
                }
         </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>
