@model ERP_API_Service.Objects.User

@{
    ViewData["Title"] = "UserEdit";
    ViewBag.Title = "UserEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Редактирование</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Пользователь @Html.DisplayFor(model => model.Login)</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="row" style="font-size:20px">
        @Html.Label("Логин", "Логин", htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>

        <div class="col-lg-1"></div>

        @Html.Label("Пароль", "Пароль", htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row" style="font-size:15px">
        @Html.Label("Активный", "Активный", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-check-input col-md-3" } })
        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
    </div>
    <div class="row" style="font-size:15px">
        @Html.Label("Администратор", "Администратор", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.IsAdmin, new { htmlAttributes = new { @class = "form-check-input col-md-3" } })
        @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
    </div>

</div>
    <br />

    <header class="row">
        <h4 class="col-lg-5" align="left">IMEI пользователя</h4>
        <div class="col-lg-1"></div>
        <h4 class="col-lg-5" align="left">Роли пользователя</h4>
    </header>

    <div class="row">
        <table class="table col-lg-5">
            <thead>
                <tr>
                    <th scope="col">Код IMEI</th>
                    <th scope="col">Описание</th>
                    <th scope="col"></th>
                    <th scope="col"><a type="button" class="btn btn-light" href="@Url.Action("UserImeiCreate", Model)">Добавить</a></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var ui in Model.UserImeis)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => ui.Imei.ImeiCode)</td>
                        <td>@Html.DisplayFor(modelItem => ui.Imei.Descr)</td>
                        <td scope="col"></td>
                        @*<td><a type="button" class="btn btn-light" style="font-size:15px" href="@Url.Action("UserImeiEdit", new { id = ui.Id })">Изменить</a></td>*@
                        <td><a type="button" class="btn btn-light" style="font-size:15px" href="@Url.Action("UserImeiDelete", new { id = ui.Id })">Удалить</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="col-lg-1"></div>

        <table class="table col-lg-5">
            <thead>
                <tr>
                    <th scope="col">Название роли</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Дата выдачи</th>
                    <th scope="col"></th>
                    <th scope="col"><a type="button" class="btn btn-light" href="@Url.Action("UserRoleCreate", Model)">Добавить</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ur in Model.UserRoles)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => ur.Role.Name)</td>
                        <td>@Html.DisplayFor(modelItem => ur.Role.Descr)</td>
                        <td>@Html.DisplayFor(modelItem => ur.GiveDate)</td>
                        <td scope="col"></td>
                        @*<td><a type="button" class="btn btn-light" style="font-size:15px" href="@Url.Action("UserRoleEdit", new { id = ur.Id })">Изменить</a></td>*@
                        <td><a type="button" class="btn btn-light" style="font-size:15px" href="@Url.Action("UserRoleDelete", new { id = ur.Id })">Удалить</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <br /><br /><br />
    <div class="row">
        <input type="submit" value="Сохранить" class="btn btn-light col-md-2" style="font-size:20px" />
        <div class="col-sm-1"></div>
        <a type="button" class="btn btn-light col-md-2" style="font-size:20px" href="@Url.Action("UserList")">Отмена</a>
    </div>
    <br />


}
