@model ERP_API_Service.Objects.Imei

@{
    ViewData["Title"] = "ImeiCreate";
    ViewBag.Title = "ImeiCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Добавление новой записи</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Новый код IMEI @Html.DisplayFor(model => model.ImeiCode)</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group" style="font-size:20px">
        @Html.Label("Код IMEI", "Код IMEI", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ImeiCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ImeiCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="font-size:20px">
        @Html.Label("Описание", "Описание", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descr, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="font-size:20px">
        @Html.Label("Активный", "Активный", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @style = "-webkit-box-flex:0;flex:0 0 25%;max-width:40%;margin:5px;" } })
        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-light" style="font-size:20px" />
            <button type="button" class="btn btn-light" style="font-size:20px" onclick="location.href='@Url.Action("ImeiList")'">Отмена</button>
        </div>
    </div>
    <br />
</div>
}
