@model IEnumerable<ERP_API_Service.Objects.Imei>

@{
    ViewData["Title"] = "ImeiList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Список IMEI</h2>
<p>
    <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("ImeiCreate")'">Добавить</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Код IMEI</th>
            <th scope="col">Описание</th>
            <th scope="col">Активный</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ImeiCode)</td>
            <td>@Html.DisplayFor(modelItem => item.Descr)</td>
            <td  align="center" style="padding-top:20px">@Html.DisplayFor(modelItem => item.IsActive)</td>
            <td><button type="button" class="btn btn-light" style="font-size:15px" onclick="location.href='@Url.Action("ImeiEdit", new { id = item.Id })'">Изменить</button></td>
            <td><button type="button" class="btn btn-light" style="font-size:15px" onclick="location.href='@Url.Action("ImeiDelete", new { id = item.Id })'">Удалить</button></td>
        </tr>
        }
    </tbody>
</table>
