@inherits ConnectDataBaseModel

<div>
    <EditForm class="was-validated" Model="@ConnectDataBaseViewModel" OnValidSubmit="ConnectDataBase">
        <DataAnnotationsValidator/>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert">
                    Здесь производится подключение, так как ресурс не смог подключиться к БД <br/>по указанной в строке подключения файла конфигурации!
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text fa fa-list wd-40px"></span>
                <InputSelect class="form-control" @bind-Value="DataBaseProvider">
                    @foreach (var provider in ConnectDataBaseViewModel.DataBaseProviders)
                    {
                        <option value="@provider">@provider</option>
                    }
                </InputSelect>
            </div>

            @if (ConnectDataBaseViewModel.DataProvider == Services.Database.DataProvider.PostgreSQL)
            {
                <div class="input-group mb-2">
                    <span class="input-group-text fa fa-server wd-40px"></span>
                    <InputText type="text" class="form-control is-invalid" placeholder="Хост..."
                               @oninput="@((e)=> ConnectDataBaseViewModel.Host = e.Value.ToString())"
                               @bind-Value="ConnectDataBaseViewModel.Host" required/>
                </div>
                <div class="input-group mb-2">
                    <ValidationMessage For="() => ConnectDataBaseViewModel.Host"/>
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text fa fa-connectdevelop wd-40px"></span>
                    <InputText pattern="[0-9].{1,5}" maxlength="5" class="form-control is-invalid" placeholder="Порт..."
                               @bind-Value="ConnectDataBaseViewModel.Port"
                               @oninput="@((e)=> ConnectDataBaseViewModel.Port = e.Value.ToString())"
                               required/>
                </div>
                <div class="input-group mb-2">
                    <ValidationMessage For="() => ConnectDataBaseViewModel.Port"/>
                </div>
            }
            else
            {
                <div class="input-group mb-2">
                    <span class="input-group-text fa fa-server wd-40px"></span>
                    <InputText type="text" class="form-control is-invalid" placeholder="Сервер..."
                               @oninput="@((e)=> ConnectDataBaseViewModel.Host = e.Value.ToString())"
                               @bind-Value="ConnectDataBaseViewModel.Host" required/>
                </div>
                <div class="input-group mb-2">
                    <ValidationMessage For="() => ConnectDataBaseViewModel.Host"/>
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text fa fa-desktop wd-40px"></span>
                    <InputText class="form-control is-invalid" placeholder="Имя экземпляра..."
                               @bind-Value="ConnectDataBaseViewModel.Instance"
                               @oninput="@((e)=> ConnectDataBaseViewModel.Instance = e.Value.ToString())"
                               required/>
                </div>
                <div class="input-group mb-2">
                    <ValidationMessage For="() => ConnectDataBaseViewModel.Instance"/>
                </div>
            }

            <div class="input-group mb-2">
                <span class="input-group-text fa fa-database wd-40px"></span>
                <InputText type="text" class="form-control is-invalid" placeholder="Имя базы данных..."
                           @oninput="@((e)=> ConnectDataBaseViewModel.DataBaseName = e.Value.ToString())"
                           @bind-Value="ConnectDataBaseViewModel.DataBaseName" required/>
            </div>
            <div class="input-group mb-2">
                <ValidationMessage For="() => ConnectDataBaseViewModel.DataBaseName"/>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text fa fa-user wd-40px"></span>
                <InputText type="text" class="form-control is-invalid" placeholder="Имя пользователя..."
                           @oninput="@((e)=> ConnectDataBaseViewModel.UserName = e.Value.ToString())"
                           @bind-Value="ConnectDataBaseViewModel.UserName" required/>
            </div>
            <div class="input-group mb-2">
                <ValidationMessage For="() => ConnectDataBaseViewModel.UserName"/>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text fa fa-lock wd-40px"></span>
                <InputText type="password" class="form-control is-invalid"
                           placeholder="Пароль..."
                           @bind-Value="ConnectDataBaseViewModel.Password" required/>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-primary" disabled="@ConnectDataBaseViewModel.IsDisabledButton">
                <span class="fa fa-sign-in"></span> Подключиться
            </button>
        </div>
        <div class="input-group mb-2 text-center">
            <label class="color-text-red text-center">@ConnectDataBaseViewModel.ErrorConnect</label>
        </div>
    </EditForm>
</div>