@page "/login"
@inherits LoginModel
@layout LoginLayout
@inject IStringLocalizer<Resources.Pages.ComponentsRazor.Login> Localizer

<PageTitle>Форма авторизации</PageTitle>
<div class="container align-content-center h-100 d-flex align-items-center justify-content-center">
    <!-- Outer Row -->
    <div class="row justify-content-center" >
        <div class="col-lg-12 ">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h5 text-black-50 mb-4 text-center">Вход в административную панель</h1>
                                </div>
                                <div>
                                    <EditForm class="was-validated" Model="@LoginData" OnValidSubmit="LoginAsync">
                                        <DataAnnotationsValidator/>
                                        <div class="input-group">
                                            <span class="input-group-text fa fa-user wd-40px"></span>
                                            <InputText type="text" class="form-control is-invalid" placeholder="Логин..." @oninput="@((e)=> LoginData.Login = e.Value.ToString())" @bind-Value="@LoginData.Login" required/>
                                        </div>
                                        <div class="input-group mb-3">
                                            <ValidationMessage For="@(() => LoginData.Login)"/>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-text fa fa-lock wd-40px"></span>
                                            <input type="password" pattern=".{8,}" class="form-control is-invalid" placeholder="Пароль..." @bind="LoginData.Password" required title="Короткий пароль"/>
                                        </div>
                                            <div class="input-group mb-3">
                                            <ValidationMessage For="@(() => LoginData.Password)"/>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block" disabled="@LoginData.IsDisabledButtonSignIn">
                                            <span class="fa fa-sign-in"></span> Вход
                                        </button>
                                    </EditForm>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
