@model ERP_API_Service.Objects.EventDate

@{
    ViewData["Title"] = "EventLoad";
    ViewBag.Title = "EventLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Выгрузка событий</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <h4>Интервал событий</h4>
    <div class="mb-3" style="font-size:20px">
        @Html.Label("С", "С", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.beginDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.beginDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3" style="font-size:20px">
        @Html.Label("По", "По", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })
        </div>
    </div>


    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Получить файл" class="btn btn-light" style="font-size:20px" />
            <button type="button" class="btn btn-light" style="font-size:20px" onclick="location.href='@Url.Action("eventList")'">Отмена</button>
        </div>
    </div>
    <br />
</div>
}
